In [1]:
# If we are not using Jupyter Notebook, don't take into account the two following lines.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

In [19]:
credit = pd.read_csv("credit.data", sep="\t", header=None, names=["A" + str(i) for i in range(1, 16)] + ["class"])
credit.head()
credit.shape
credit.dtypes

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13  A14  A15 class
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0     +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560     +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824     +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3     +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0     +

(688, 16)

A1        object
A2        object
A3       float64
A4        object
A5        object
A6        object
A7        object
A8       float64
A9        object
A10       object
A11        int64
A12       object
A13       object
A14       object
A15        int64
class     object
dtype: object

In [14]:
["A" + str(i) for i in range(1, 16)]

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15']